.cards-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: initial;
    width: 900px;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 4.6rem;
}
.main-benefts-container--card{
    margin-left: 1.6rem;
    min-height: 14.7rem;
}
