/*
    1.Position
    2.Box model
    3.typography
    4.visuals
    5.others
*/

:root{
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --gray: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF;
    --linear-bg: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%)
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

header{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; /*segun la clase: justify-content*/
    width: 100%;
    min-width: 32rem;
    height: 34.4rem;
    text-align: center;
    background: var(--linear-bg);
}
header img{
    width: 15rem;
    height: 2.4rem;
    margin-top: 6rem;
    /*align-self: center;*/
}
.header--title-container{
    width: 90%;
    min-width: 28.8rem;
    max-width: 90rem;
    height: 21.8rem;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /*align-self: center;*/
}

.header--title-container h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.header--title-container p{
    margin-top: 2.5rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange)
}
.header--title-container .header--button{
    position: absolute;
    top: 27rem;
    display: block;
    margin-top: 5rem;
    padding: 1.5rem;
    width: 22.9rem;
    height: 4.8rem;
    background-color: var(--off-white);
    /*shadows*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16 );    
    border: none;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}
.header--button span{
    display: inline-block;
    width: 1.3rem;
    height: 0.8rem;
    margin-left: 1rem;
    background-image: url("./assets/icons/down-arrow.svg");
}
main{
    width: 100%;
    height: auto;
    min-width: 32rem;
    height: 34.4rem;
    

}
.main-exchange-container{
    width: 100%;
    height: auto;
    padding-top: 8rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--off-white);
}
.main-exchange-container img{
    width: 19.5rem;
    height: 19.5rem;

}
.main-exchange-container--title{
    width: 90%;
    min-width: 28.8rem;
    margin-top: 4rem;
    margin-bottom: 4.8rem;
}
.main-exchange-container--title h2{
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
}
.main-exchange-container--title p{
    margin-top: 2.4rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color:#757575; 
}
.main-currency--table{
   width: 70%; 
   min-width: 23.5rem;
   max-width: 50rem;
   height: 25rem;

    display: flex;
    flex-direction: column;
   font-family: "inter",sans-serif;
}

.main-currency--table .currency-table--title{
    margin-bottom: 1.2rem;
    margin-left: 1.5rem;
    font-size: 1.8rem;
    font-weight: 700;
    color: #FF9536;
    line-height: 2.3rem;
    text-align: left;
}
.currency-table--container{
    width: 90%;
    min-width: 23rem;
    max-width: 30rem;
    height: 15.6rem;
    margin: 0 auto;
}
.currency-table--container table{
    width: 100%;
    height: 100%;
}
.currency-table--container td{
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--gray);
    background-color: var(--just-white);
} 
.currency-table--container .table__top-left{
    border-radius: 1.5rem 0 0 0;
}
.currency-table--container .table__top-right{
    border-radius: 0 1.5rem 0 0;
}
.currency-table--container .table__bottom-left{
    border-radius: 0 0 0 1.5rem;
}
.currency-table--container .table__bottom-right{
    border-radius: 0 0 1.5rem 0;
}
.currency-table--container .cell{
    padding-left: 1.4rem;
    text-align: left;
}
.currency-table--container .table__right{
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757557;
}
.currency-table--container .down{
    display: inline-block;
    position: relative;
    top: 0.4rem;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 1rem;
    background-image: url(./assets/icons/trending-down.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.currency-table--container .up{
    display: inline-block;
    position: relative;
    top: 0.4rem;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 1rem;
    background-image: url(./assets/icons/trending-up.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
 .main-currency--table .currency-table--footer{
    width: 75%;
    min-width: 15rem;
    max-width: 30rem;
    height: 3rem;
    margin-top: 1.6rem;
    align-self: center;
    border-radius: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--soft-orange);


}
.main-currency--table .currency-table--footer p{
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5rem;

    color: black;
}

.main-benefits-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    text-align: center;

    background-color: var(--warm-black);
}
.main-benefits-container--logo{
   position: absolute;
   top: -1.2rem;
   
}

.main-benefits-container--title{
    width: 90%;
    min-width: 28.8rem;
    margin-top: 6.4rem;
}
.main-benefits-container--title h3{
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: white;
}
.main-benefits-container--title p{
    margin-top: 2.4rem;
    margin-bottom: 3.2rem;

    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}
.main-benefts-container--card{
    width: 90%;
    min-width: 28.8rem;
    max-width: 35rem;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.6rem;
    padding: 1.6rem;
    background-color: var(--black);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    border-radius: 0.4rem;
}

.main-benefts-container--card img{
    width: 2.1rem;
    height: 2.1rem;
}
.main-benefts-container--card .p1{
    margin-top: 1.2rem;
    align-self: flex-start;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.8rem;
    color: white;
   
}

.main-benefts-container--card .p2{
    margin-top: 1rem;
    text-align: left;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.main-plans-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.main-plans-container--picture{
    width: 100%;
    min-width: 32rem;
    height: 38.7rem;
    background-image: url(./assets/images/bitcoinbaby\ 1.png);
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-plans-container--picture p{
    margin-top: 6.5rem;

    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: white;
}

.main-plans-container--plans{
    width: 100%;
    height: 53.7rem;
    min-width: 32rem;
    display: flex;
    
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #E5E5E5;
}
.plans-slider{
    width: 100%;
    max-width: 100rem;
    margin: 0 auto;
    height: 30rem;
    position: relative;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    gap: 5rem;
    overflow-x: scroll;
    overflow-y: visible;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.plans-box{
    width: 60%;
    min-width: 19rem;
    max-width: 25rem;
    height: 25.3rem;
    scroll-snap-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: white;
    border-radius: 0.8rem;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);

}
.plans-box1{
    margin-left: 7rem;
}

.plans-box3{
    margin-right: 7rem;
}

.plans-title{
    width: 90%;
    height: auto;
    margin-top: 6.4rem;
}
.plans-title h4{
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--warm-black);
}
.plans-title p{

    margin-top: 2.4rem;
   
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}


.plans-box .p1{
    width: 50%;
    max-width: 30rem;
    height: 3rem;
    position: absolute;
    top: -1.5rem;

    background-color: var(--bitcoin-orange);
    border-radius: 0.8rem;
    padding: 0.8rem;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.5rem;
    color: white;

    
}
.plans-box .p2{
    margin-top: 3rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #000000;
    
}
.plans-box .p3{
    margin-top: 0.8rem;
    display: flex;

}
.plans-box .p3 .a{
    padding-top: 0.9rem;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5rem;
}
.plans-box .p3 .b{
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 6.3rem;
}
.plans-box .p4{
    margin-top: 1.6rem;
    width: 80%;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: #757575;
}
.plans-box .call-to-action-button{
    margin-top: 1.6rem;
    margin-bottom: 2.4rem;
    width: 80%;
    max-width: 15rem;
    min-width: 15rem;
    height: 4.8rem;
   
    
    
    background-color: var(--off-white);
    border-radius: 0.4rem;
    border: var(--bitcoin-orange) 2px solid;

    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.8rem;
}


.call-to-action-button span{
    background-image: url(./assets/icons/orange-right-arrow.svg);
    display: inline-block;
    width: 2rem;
    height: 2rem;
    
    vertical-align: text-bottom;
}










